
/*
#oVmi_firstPane{
	overflow: auto !important;
}*/
.user-manage .userTb{
	width: auto;
	overflow: auto;
	height: 800px;
	background: transparant;
}

.userTb>.sapUiTableHdr{
	background: #b6d2fd;
	line-height: 30px;
	vertical-align: middle;
	height: 30px;
	padding-left: 10px;
}

/*.userTb .sapUiTableTr[data-sap-ui-level="0"] :nth-child(odd){
	background-color: transparent;
}

.userTb .sapUiTableTr[data-sap-ui-level="0"] :nth-child(even){
	background-color: #e3effe;
}*/
.sapUiTableTr>td {
	border-bottom: 1px solid #FFF;
}
/*.userTb tbody :nth-child(odd)[data-sap-ui-level="0"]{
	background-color: transparent;
}
 */
.userTb tbody :nth-child(even)[data-sap-ui-level="0"]{
	background-color: transparent;
}

.userTb tbody :nth-child(even)[data-sap-ui-level="0"] td{
	background-color: transparent;
}

.userTb .sapUiTableCell>.sapUiTf{
	/*line-height: 35px !important;*/
}

.userTb tr{
	height: 32px;
}
.userTb .sapUiTableHdrTitle {
	font-size: 16px;
	height: 100%;
	font-weight: normal;
	line-height: 35px;
}

/*.userTb .sapUiTb, .sapUiTbCont{
	height:30px;
}

.userTb .sapUiTbInner .sapUiBtn{
	height: 28px;
	width: 30px;
	box-sizing: content-box;
}

.userTb .addUser{
	background-image: url(img/add_user.png);
	background-repeat: no-repeat;
	background-position: 6px 3px;
}

.userTb .addUser:hover, .userTb .addUser.sapUiBtnAct{
	background-image: url(img/add_user_pressed.png);
	background-repeat: no-repeat;
	background-position: 15px 6px;
	background-color: #629df8;
}

.userTb .editBtn{
	background-color: #629df8;
}

.userTb .sapUiBtnS.sapUiBtnLite.sapUiBtnStd>span.sapUiBtnIco{
	color: #969696;	
}

.userTb .sapUiBtnS.sapUiBtnLite.sapUiBtnAct, .userTb .sapUiBtnS.sapUiBtnLite.sapUiBtnStd:hover{
	background-color: #629df8;
}
.userTb .sapUiBtnS.sapUiBtnLite.sapUiBtnAct>span.sapUiBtnIco,.userTb .sapUiBtnS.sapUiBtnLite.sapUiBtnStd:hover>span.sapUiBtnIco{
	color: #ffffff;	
}
*/
.userTb .addUser{
	background-image: url(img/add_user.png);
	background-repeat: no-repeat;
	background-position: 5px 1px;
	height: 22px;
	width: 30px;
}

.userTb .addUser:hover, .userTb .addUser.sapUiBtnAct{
	background-image: url(img/add_user_pressed.png);
	background-repeat: no-repeat;
	background-position: 5px 1px;
	background-color: #629df8;
}

.userTb>.sapUiTableTbr{
	position: absolute;
	top: 0px;
	right: 0;
	height: 30px;
	border: none;
}

.userTb .sapUiTableColHdrCnt, .sapUiTableColRowHdr {
	background: transparent;
}

/*.userTb .sapUiTableCtrl tr{
	height:35px !important;
}
*/
.userTb .sapUiTableRowHdr {
	/*border-bottom: 1px solid #fff;*/
	/*height: 35px !important;*/
}

.userTb .sapUiTableRowHdr :hover{
	background: #f7f7f7;
}

.userTb .sapUiTableRowHdr:hover {
	background-color: #fff !important;
}


.userTb .sapUiTableCCnt, .sapUiTableRowHdr{
	background-color: transparent;
}

.userTb .sapUiTableColRowHdr, .sapUiTableRowHdr {
	border: none;
}

.userTb .sapUiTableCtrl tr.sapUiTableRowSel>td {
	background-color: #FFFFFF !important;
}

.userTb  .sapUiTable>div{
	border: none;
}

.userTb .sapUiTableColRsz :last-child{
	display:none;
}

.userTb .sapUiTableRowHdr.sapUiTableRowSel{
	background-color: #FF9900!important;
	border-right: none;
	border-bottom: #fff 1px solid;
}

.userTb .sapUiTableRowHdr.sapUiTableRowSel:hover{
	background-color: #FFFFFF!important;
}

.userTb .sapUiTbInner, .sapUiTbInner>*{
	margin: 0 ;
}

.userTb .sapUiTableCol, .userTb .sapUiTableTr>td {
 	border-right: none; 
}

.userTb .sapUiTableColHdr .sapUiTableCol/*, .userTb .sapUiTableTr>td */{
 	height: 35px !important;
	border-right: #E8E4DA 1px solid;
}

.userTb .sapUiTableTr>td{
	/*height: 35px !important;*/
}

.userTb .sapUiTableTr{
	height: 30px !important;
}

.sapUiTable>div{
	border:none;
}
.userTab{
	height:100%;
	min-height: 800px;
}

.sapUiTabPanel{
	border: none;
	padding: 0;
	top: 30px;
}

.sapUiTabBar  {
	height: 34px;
}
.sapUiTab{
	height: 30px;
	margin: 0;
	padding: 2px 10px;
	background-color: #b6d2fd;
	border: none;
	border-bottom-width: 0;
	-moz-border-radius: 0 0 0 0;
	-webkit-border-radius: 0 0 0 0;
	border-radius: 0 0 0 0;
	width: 50%;
	box-sizing: border-box;
	line-height: 30px;
	text-align: center;
	font-size: 13px;
	font-weight: normal;
}

.sapUiTab:hover{
	background-color: #b6d2fd;
	color: #000000;
	padding: 2px 9px 2px 9px;
}
.sapUiTabSel:hover{
	background-color: #ffffff;
	color: #b6d2fd;
}

.sapUiTabSel{
	font-weight: bold;
	background-color: #fff;
	width: 50%;
	box-sizing: border-box;
	height: 30px;
	line-height: 30px;
	padding: 2px 10px;
	margin: 0;
	border: none;
	color: #64A1FF;
	text-align: center;
	font-size: 13px;
	font-weight: normal;
}
.sapUiTabSel:focus, .sapUiTabSel:active {
	outline: none;
}

.sapUiTabBarCnt{
	height: 30px;
	width: 100%;
	border-width: 0;
}

.userTab .sapUiHLayout{
	position: absolute;
	right: 5px;
	top: 0px;
}

.userTab .sapUiHLayout>div{
	width: 40px;
}

.userTab .sapUiBtn{
	height: 33px;
	width: 32px;
	box-sizing: content-box;
}

.userTab .addUser{
	background-image: url(img/add_user.png);
	background-repeat: no-repeat;
	background-position: 15px 6px;
}

.userTab .addUser:hover, .userTab .addUser.sapUiBtnFoc{
	background-image: url(img/adduser_blue.png);
	background-repeat: no-repeat;
	background-position: 15px 6px;
	background-color: transparent;
}
.userTab .addGroup{
	background-image: url(img/add_group.png);
	background-repeat: no-repeat;
	background-position: 15px 6px;
}
.userTab .addGroup:hover, .userTab .addGroup.sapUiBtnFoc{
	background-image: url(img/addgroup_blue.png);
	background-repeat: no-repeat;
	background-position: 15px 6px;
	background-color: transparent;
}

.userTab .sapUiBtnS.sapUiBtnLite.sapUiBtnStd>span.sapUiBtnIco{
	color: #969696;
}
.userTab .sapUiBtnS.sapUiBtnLite.sapUiBtnStd.sapUiBtnFoc, .userTab .sapUiBtnS.sapUiBtnLite.sapUiBtnStd:hover{
	background-color: transparent;
}
.userTab .sapUiBtnS.sapUiBtnLite.sapUiBtnStd.sapUiBtnFoc>span.sapUiBtnIco,.userTab .sapUiBtnS.sapUiBtnLite.sapUiBtnStd:hover>span.sapUiBtnIco{
	color: #629dfa;	
}
.user-manage .sapUiMltPadRight{
	padding: 0;
}

#userTitle{
	display: block;
	z-index: 1;
	background: #d2e2fe;
	line-height: 30px;
	font-size: 16px;
	padding-left: 10px;
	font-weight: normal;
}


.sapUiBtn {
	background:  #b5d2fd;
	color: #666;
	border-width: 0;
}
.sapUiBtnS.sapUiBtnNorm,  .sapUiBtnS.sapUiBtnNorm:focus{
	border-width: 0
}
.sapUiBtnS.sapUiBtnNorm.sapUiBtnStd, .sapUiBtnS.sapUiBtnNorm.sapUiBtnStd:focus {
	background:  #b5d2fd;
	color: #666;
	outline: none;
}
.sapUiBtnS.sapUiBtnLite.sapUiBtnStd:focus {
	outline: none;
}
#log .log-label {
	margin-right: 5px;
	line-height: 20px;
}
#log .log-datepicker {
	margin-right: 50px;
}
#log .log-hlayout {
	height: 30px;
	padding: 10px 0 0 20px;
}
#log .log-button {
	
} 
#log .log-button:focus {
	background:  #b5d2fd;
	color: #666;
	outline: none;
	border-width: 0
}
#log .sapUiTabSel:active, #log .sapUiTabSel:focus {
	background: #fff;
}
/*common table part*/
span.file-name {
	margin: 0 20px 0 10px;
	vertical-align: bottom;
	line-height: 22px;
	font-size: 14px;
	width: 120px;
}
.commontable-toolbar-btn {
	margin-right: 3px;
}
/**/

.sapUiBtnS.sapUiBtnLite.sapUiBtnStd {
	-'background: #B6D2FD;
}
.sapUiBtnS.sapUiBtnLite.sapUiBtnStd>span.sapUiBtnIco{
	color: #969696;	
}
.sapUiBtnS.sapUiBtnLite.sapUiBtnStd.sapUiBtnFoc, .sapUiBtnS.sapUiBtnLite.sapUiBtnStd:hover{
	background-color: #629df8;
}
 .sapUiBtnS.sapUiBtnLite.sapUiBtnStd.sapUiBtnFoc>span.sapUiBtnIco, .sapUiBtnS.sapUiBtnLite.sapUiBtnStd:hover>span.sapUiBtnIco{
	color: #ffffff;	
}
.userGroup .sapUiVSplitterFirstPane{
	background: #fff;
	padding-top: 0px;
}

.userGroup .assignUser {
	margin-top: 80px;
	margin-left: 15px;
}

.userGroup .assignUser button{
	margin-bottom: 5px;
	margin-top: 5px;
}
.hiddenStyle{
	display: none;
}

.userForm .sapUiTfBrd{
	/*width: 70% !important;*/
	height: 28px;
	border-radius: 3px;
}

.userForm .sapUiGrid td>.sapUiLbl {	
	line-height: 22px;
}

.required, .requiredDropdown{
	border-left: rgb(255, 85, 85) 3px solid !important;
}

.required2{
	border-left: rgb(255, 85, 85) 3px solid !important;
}

#role-tree {
position: absolute;
top: 33px;
}

.role-list .sapUiDlgCont{
	padding: 0px;
}

#role-table {
position: absolute;
top: 33px;
}

.editable{
	border: rgba(255, 85, 85, 0.4) 1px solid !important;
	background-color: #fff !important;
}

.columnHidden{
	border: 0px !important;
}

#menu-hide, #menu-show{
	background: transparent;
	margin: 5px 10px 5px 5px;
}

#menu-hide .sapUiBtnIco, #menu-show .sapUiBtnIco{
	color: #ff9900;
}
#moduleSelectorDialog .sapUiDlgCont{
	padding: 10px;
}
#moduleSelectorDialog .sapUiLnk {
	font-family: "Open Sans";
	font-size: 14px;
	text-decoration: none;
}
.sapUiUx3ShellHeader .sapUiBtn.toggleMenu{
	background: none;
	position: fixed;
	top: 13px;
	left: 0px;
	z-index: 10;
	margin: 0;
	font-size: 20px;
	width: 42px;
	padding: 0;
	height: 18px;
	border-right: #ddd 1px solid;
}

.sapUiUx3ShellHeader .sapUiBtn.toggleMenu.sapUiBtnFoc{
	outline: none;
}
.sapUiUx3ShellHeader .sapUiBtn.sapUiBtn.toggleMenu>span.sapUiBtnIco{
	font-size: 16px;
	right: 10px;
	top: -1px;
	color: #ff9900;
	position: absolute;
}

.sapUiUx3ShellHeader .sapUiBtn.sapUiBtn.toggleMenu.hideMenu>span.sapUiBtnIco{
	color: #969696;
}

.dialog-toolbar .sapUiBtn{
	float: right;
}

.selectModule{
	text-align: center;
}

.selectModule .sapUiBtnS.sapUiBtnNorm.sapUiBtnStd, .selectModule .sapUiBtnS.sapUiBtnNorm.sapUiBtnAct{
	color: #fff;
	height: 30px;
	width: 280px;
	background: #fba800;
	margin-bottom: 5px;
}

.selectModule .sapUiBtnS.sapUiBtnNorm.sapUiBtnDsbl{
	color: #fff;
	height: 30px;
	width: 280px;
	background: #a4a4a4;
	margin-bottom: 5px;
}

.sapUiMnuNoSbMnu>.sapUiMnuItm>.sapUiMnuItmTxt, .sapUiMnuItm.sapUiMnuTfItm>.sapUiMnuItmTxt {
  padding-right: 8px;
  padding-right: 0.5rem;
  font-size: 12px;
}

.download-relationship{
	width:450px;
}

.download-relationship .sapUiLnk{
	margin: 0 0 6px 10px;
	font-size: 13px;
}

.onDemond-toolBar-Button{ 
	background: #C9CDD3 !important;
	margin: 0 0 6px 10px;
    border: 1px ;
    
}
.batchdownload-status{
	
}
.export-horizontal-layout{
	width:100%;
}
.status-in-progress{
	color: #ff9900 !important;
}
.status-finished{
	color: green !important;
}