#oVmi_secondPane > div {
	padding: 10px 5px 50px 10px;/*10px 5px 10px 10px;*/ /*******Modified by Chris Gao**********/
	box-sizing: border-box;
}

.sapUiTableCtrl tr.sapUiTableRowSel>td {
	background-color: #FF9900 !important;
}

.sapUiTableRowHdr.sapUiTableRowSel{
	background-color: #FF9900 !important;
	border-right: none;
	border-bottom: #fff 1px solid;
}

.sapUiTableCtrl .sapUiTableRowEven{
	background-color: #f2f9ff;
}

/*.sapUiTableRowHdr:nth-of-type(odd){
	background-color: #ebf6ff;
}*/

.sapUiTableColHdr{
	background: url(img/Toolbar.png) repeat;
	height: 30px;
}
.sapUiTableColHdr>div{
	border-right: 0px;
}
.sapUiTableColHdrCnt{
	border-bottom: 0px solid #dddddd !important;
}

.sapUiTableCnt{
	border-top: 0px !important;
}
.sapUiTableCHdr{
	text-transform: none !important;
}
.sapUiTableTr{
	height: 30px !important;
}
.sapUiDlgHdr{
	background-color: #3c4e73;
	margin: 0px;
	text-align: center;
}
.sapUiDlgHdr>.sapUiDlgHdrLeft{
	color: #ffffff;
	font-size: 18px;
}
.sapUiDlgFooter{
	background-color: #424242;
}

.sapUiDlgBtns .sapUiBtn{
	background-color: #3c4e73 !important;
	color: #ffffff !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
	font-size: 14px;
	height: 25px;
}

.sapUiDlgBtns .sapUiBtn:hover{
	background-color: #ff9900 !important;
}

.sapUiDlg label{
	color: #000000;
	font-size: 12px;
	font-family: "Open Sans";
}
.sapUiDlgCloseBtn{
	background: url(img/Cancel1818.png) no-repeat;
}

.sapUiPanelCont{
	box-shadow: 0px 1px 2px #dddddd;
}

.sapUiTableCtrl td{
	border-right: 0px;
}

.leftMenuItemPadding{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.leftMenuSpanPadding{
	padding-left: 14px !important;
}

#oVmi_firstPane, #oVmi_secondPane{
	transition: width 0.5s;
	-moz-transition: width 0.5s;
	-webkit-transition: width 0.5s;
	-o-transition: width 0.5s;
}

.HDStyle{
	border-color: transparent;
}

.Component{}

.Component .sapUiHLayout>.sapUiHLayoutChildWrapper{
	width: 240px;
	margin: 5px;
	text-align: center;
}
.Component .sapUiHLayout>.sapUiHLayoutChildWrapper:last-child{
	width: 30px;
}
.header>div{
	margin: 5px;
}

.Component1 .sapUiHLayout>.sapUiHLayoutChildWrapper {
	margin: 5px;
	text-align: center;
}

.fontsize{
	font-size: 13px;
	font-family: "Open Sans";
}

.sapUiRespGridMedia-Std-Desktop.sapUiFormResGridCont>.sapUiFormResGridLbl:not(.sapUiRespGridSpanL12)>.sapUiLbl{
	float : left;
}

.filter-panel .sapUiFormResGrid>div {
	padding: 15px 0 5px 15px !important;
}

.dstitle {
	margin-top: 5px;
	color: #555;
	font-size: 16px;
	font-weight: 700;
}

.dsposition {
}

.dsposition>.sapUiHLayoutChildWrapper:last-child {
	float: left !important;
	margin-left: 16px;
}

#oForm .sapUiFormResGridLbl {
	width: 20%;
}

#oForm .sapUiRespGridBreakL, #oForm.sapUiRespGridBreakM, 
#oForm.sapUiRespGridSpanL4, #oForm.sapUiRespGridSpanM4, #oForm.sapUiRespGridSpanS12{
	margin-right: "100px";
}


.dsTabStyle .sapUiTab{
	width: 33% !important;
	height: 25px;
	line-height: 25px;
	margin-top: 5px;
	cursor: pointer;
	box-shadow: 2px -1px 1px #ddd inset;
}

.dsTabStyle .sapUiTabSel{
	width: 34% !important;
}

.dsTabStyle .sapUiTabPanel{
	box-shadow: 0 0 15px #ddd;
}

.DSBtn{
	float: right;
	margin-right: 50px;
}