.sap-desktop ::-webkit-scrollbar, ::-webkit-scrollbar {  
    width: 4px;
	height: 14px;
	background-color: transparent;
}  
.sap-desktop ::-webkit-scrollbar-track, ::-webkit-scrollbar-track {  
    background-color: transparent;  
    border-left: none;  
}  
.sap-desktop ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb {  
    border-radius: 4px;
	background: rgba(98, 157, 248, 0.8);
	border: 4px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
}  
.sap-desktop ::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:hover {  
    background: rgba(98, 157, 248, 0.8);  
} 

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(font/OpenSans.woff) format('woff');
}
 
body,
.sapUiBody,
.sapUiUx3Shell {
	 -webkit-text-size-adjust:none; 
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-text-size-adjust:none; 
	font-size: 13px;
	color: #676a6c;
}

.sapUiUx3Shell.sapUiUx3ShellHeadSlimNavigation>.sapUiUx3ShellCanvas {
	top: 44px;
	background: url(img/Backgroud.png) repeat;
}

.sapUiUx3ShellContent {
	overflow:hidden;
}
.sapUiUx3ShellContent > div {
	height:100%;
	position: relative;
}

.sapUiUx3ShellHeader>hr {
	background-color: #363b42;
	height:0;
}

.sapUiUx3ShellWorksetBar {
	display: none;
}

.sapUiUx3ShellHeader {
	padding: 0;
	height: 44px;
	background: url(img/Title_Left.png);
	background-size: contain;
	box-shadow: 0px 1px 2px #dddddd;
}
.sapUiUx3ShellHeader .sapUiBtn{
	background: url(img/Title_Login.png);
	height: 44px;
	background-size: contain;
	margin-left: 20px;
	width: 140px;
	font-size: 12px;
}

.sapUiUx3ShellHeader .sapUiBtn .sapUiBtnTxt{
	line-height: 44px;
}
.sapUiUx3ShellHeader .sapUiBtn.sapUiBtn>span.sapUiBtnIco{
	font-size: 13px;
	color: rgb(147, 147, 147);
}
.sapUiUx3ShellCanvas {
	left: 0px;
	right: auto;
	width: 100%;
	top: 36px;
}

#logoutMenu .sapUiMnuItm{
	width: 138px;
	background: #334364;
	color: #fff;
}

#logoutMenu .sapUiMnuItm.sapUiMnuItmHov {
    background: #ff9900;
    color: #fff;
}

#logoutMenu .sapUiMnuItm .sapUiIcon{
	color: #fff;
}

.sapUiUx3ShellHeader .sapUiUx3ShellHeaderTitleRight{
	font-size: 18px;
	font-family: Arial;
	font-stretch: extra-condensed;
	font-weight: bold;
	line-height: 44px;
	vertical-align: baseline;
	top: 0;
	right: 0;
}

.sapUiUx3ShellHeader .sapUiLnk{
	font-size: 20px;
	font-family: Arial;
	font-stretch: extra-condensed;
	font-weight: bold;
	line-height: 22px;
	vertical-align: baseline;
	color: #ff9900;
	padding: 0 5px;
	top: 4px;
	position: relative;
}
.sapUiUx3ShellHeader .sapUiBtn:hover, .sapUiUx3ShellHeader .sapUiLnk:hover {
	text-decoration: underline;
	color: #666;
}

.sapUiUx3ShellHeader .sapUiLnk:hover {
    background-color: transparent;
    text-decoration: underline;
    color: #ff9900;
}

.sapUiUx3ShellHeader>img {
	max-height: 21px;
	margin: 11px 0 11px 54px;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.sapUiUx3ShellHeader>h1 {
	display: inline-block;
	margin: 0;
	font-weight: 300;
	font-size: 32px;
	color: #fff;
	display: inline-block;
	width: 13.75%;
	vertical-align: bottom;
	height: 50px;
	padding-top: 20px;
	box-sizing: border-box;
	text-align: center;
}

/*.sapUiPanel{
	border:none;
}
.sapUiPanel .sapUiPanelHdr{
	background-color:transparent;
	border-bottom:none;
}
.sapUiPanel .sapUiPanelHdr .sapUiPanelTitle{
	color: white;
	font-size: 15px;
	font-weight: normal;
	margin-left: 1em;
} 

.sapUiPanel .sapUiPanelCont{
	background-color: transparent;
	border-top:none;
	overflow: visible;
}

.sapUiShd {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
*/

.sapUiUx3ShellHeader .sapUiUx3ShellHeaderSep{
	display:none;
}

/*#oShell-hdr-items .header-title{
	height:100%;
	line-height:36px;
	font-family:inherit;
	font-weight:bold;
	font-size:16px;
	cursor:pointer;
	color:#FFFFFF;
	text-decoration:none;
	outline:none;
}*/

/**********Splitter pane*************/
.sapUiVSplitterFirstPane {
	height: 100%;
	width: 300px;
	display: inline-block;
	vertical-align: top;
	outline-offset: -1px;
	background: #334363;
	overflow-y: auto !important;
}

.sapUiTree {
	background: transparent;
	border: none;
}

.sapUiTreeCont {
	background: transparent;
}

.sapUiPanelWithPadding>.sapUiPanelCont {
	padding: 0;
}

.sapUiVSplitterFirstPane .sapUiTreeList {
	list-style-position: inside;
	margin: 0;
	padding: 0;
	color: #fff;

}

.sapUiVSplitterFirstPane .sapUiTreeNode {
	line-height: 40px;
	width: 100%;
	display: inline-block;
	font-size: 13px;
	margin: 0;
	color: #fff;
	box-sizing: border-box;
	padding-left: 14px;
	padding-right: 30px;
	border: none;
	background-color: #3c4e73;
	border-bottom: #334364 2px solid;
}

.sapUiVSplitterFirstPane .sapUiTreeNode:hover{
	/*color: #629df8;*/
	background-color: transparent;
	-webkit-transition:color 0.2s ease 0s;
	   -moz-transition:color 0.2s ease 0s;
	    -ms-transition:color 0.2s ease 0s;
	     -o-transition:color 0.2s ease 0s;
	        transition:color 0.2s ease 0s;
}

.sapUiVSplitterFirstPane .sapUiTreeChildrenNodes li{
	background-color: transparent;
	line-height: 24px;
	font-size: 12px;
	padding: 2px 10px 2px 7px;
}

.sapUiVSplitterFirstPane .sapUiTreeChildrenNodes li:hover{
	background-color: transparent;
}

.sapUiTreeIcon {
	height: 16px;
	margin-right: 12px;
	width: 16px;
	position: relative;
	top: 2px;
	font-size: 16px;
	padding-right: 3px;
	color: #ff9900;
}

.sapUiTreeNode, .sapUiTreeNode:hover, .sapUiInverted-CTX .sapUiTreeNode{
    background: none;
}
.sapUiTreeNodeCollapsed {
    list-style: none;
    background: url(img/expansion-rotate.png) no-repeat 190px 10px;
	background-size: 8px;
	cursor: pointer;
}
/*.sapUiTreeNodeExpanded,
.sapUiTreeNodeExpanded.sapUiTreeNodeSelectedParent,
.sapUiTreeNodeExpanded.sapUiTreeNodeSelected, */
.sapUiTreeNodeExpanded.sapUiTreeNodeSelectedParent:Hover,
.sapUiTreeNodeExpanded.sapUiTreeNodeSelected:Hover,
.sapUiTreeNodeExpanded.sapUiTreeNode:Hover{
	list-style: none;
	background-image: url(img/expansion.png);
	background-size: 8px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 90% 15px;
}
/*.sapUiTreeNodeCollapsed.sapUiTreeNode,
.sapUiTreeNodeCollapsed.sapUiTreeNodeSelectedParent,
.sapUiTreeNodeCollapsed.sapUiTreeNodeSelected,*/
.sapUiTreeNode.sapUiTreeNodeSelected.sapUiTreeNodeCollapsed,
.sapUiTreeNodeCollapsed.sapUiTreeNodeSelectedParent:Hover,
.sapUiTreeNodeCollapsed.sapUiTreeNodeSelected:Hover,
.sapUiTreeNodeCollapsed.sapUiTreeNode:Hover{
	background-image: url(img/expansion_rotate.png);
	background-size: 8px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 90% 16px;
	/*background-color: transparent;*/
}
.sapUiTreeNodeCollapsed.sapUiTreeNode,
.sapUiTreeNodeCollapsed.sapUiTreeNodeSelectedParent,
.sapUiTreeNodeCollapsed.sapUiTreeNodeSelected{
	background-image:none;
}
.sapUiTreeHeader {
	background-color: transparent;
	border: none;
}
.sapUiTreeTbCont {
	float: left;
	line-height: 30px;
}

.sapUiTreeNodeContent {
	font-family: "Open Sans";
}

/**********Added by Chris Gao**************/
.sapUiTreeNode_Gray{
	list-style: none;
	border-bottom: none;
	cursor:not-allowed;
	/*pointer-events: none;*/
}
.sapUiTreeNodeContent_Gray {
	font-family: "Open Sans";
	
	color:#a7a7a7;
}
/************End************/

.sapUiTreeNode:focus {
	outline: none;
}

.sapUiTableCHdr {	
	text-transform: uppercase;
}

.sapUiTableTbr>.sapUiTb{
	background: transparent;
}

.sapUiTableVSb{
	width:8px !important;
}

.sapUiTreeChildrenNodes {
	padding-left: 36px;
	border-left: 4px solid #ff9900;
	background: #2a3651;
	font-size: 12px;	
}
.sapUiTreeChildrenNodes .sapUiTreeNode{
	color: #ddd;
}
.sapUiTreeChildrenNodes .sapUiTreeNode :hover{
	color:#ff9900;
}

.sapUiTreeNode.sapUiTreeNodeExpanded{
	border-left: 4px solid #ff9900;
	background-color: #2a3651;
	margin: 0;
	width: 100%;
	padding-left: 12px;
	border-bottom: none;
}
.sapUiVSplitterFirstPane .sapUiTreeNode.sapUiTreeNodeExpanded:hover{
	/*color: #629df8;*/
	background-color: #2a3651;
}
.sapUiTreeNodeExpanded.sapUiTreeNodeSelected {
	background-image: none;
	background-color: #2a3651;
	border-bottom: none;
}
.sapUiTreeChildrenNodes .sapUiTreeNode{
	border-bottom: none;
}

.sapUiTreeNode.sapUiTreeNodeSelected{
	background-image: none;
	background-color: #2a3651;
	color: #ff9900;
}

.sapUiTreeNode span{
	cursor: pointer;
}

.sapUiTf {
	font-family: "Open Sans",Arial,Helvetica,sans-serif;
	font-size: 12px;
}

.sapUiTreeNode.sapUiTreeNodeSelected.sapUiTreeNodeCollapsed,
.sapUiTreeNode.sapUiTreeNodeSelected.sapUiTreeNodeExpanded{
	color: #fff;
}

.sapUiFormM>.sapUiGrid>tbody>tr>td {
	padding: 0 0 3px 8px;
}

.sapUiTfBrd {
	padding: 2px 5px 3px 5px;
	height: 22px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-width: 1px;
	border-radius: 2px;
}

.sapUiUx3ShellHeaderTitleRight .sapUiMenuButton .sapUiBtnIcoL {
	padding-right: 8px;
}

.sapUiUx3OCContent {
	overflow-x: auto;
}

.sapMInputBaseInner{
	height:22px;
	padding:0px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-width: 1px;
	border-radius: 2px;
}
.sapMComboBoxBaseArrow{
	width:20px;
	height:20px;
	line-height:0;
	right:8px;
	top:0px;
}
.sapMInputBase{
	height:22px;
	padding:0px;
}

.sapMSelectListItem {
    font-size: 0.8rem;
    padding: 0 1rem 0 1rem;
    height: 1.5rem;
    line-height: 1rem;
    cursor: pointer;
}

.sapMComboBoxTextField{
	margin: 0;
}